<div
  class="main-section prose h-[calc(100vh_-_4rem_-_50px)] max-w-full flex-row p-12 prose-h1:dark:text-white prose-h5:dark:text-neutral-400">
  <section class="flex flex-auto flex-col justify-center">
    <h1 class="mb-3 flex-initial">Ooops! We cannot find the page you want</h1>
    <h5 class="mb-4 flex-initial">
      The page you are looking for doesn't exist.
    </h5>
    <button
      class="btn btn-secondary mt-12 flex-initial justify-self-end"
      routerLink="/">
      Home
    </button>
  </section>
  <img
    class="mt-0 aspect-[4/3] w-1/2 flex-initial"
    src="../../assets/svgs/error-404.svg"
    alt="404 not found error image" />
</div>
