<div class="flex flex-auto" appWidgetContainer [padding]="12">
  <section
    class="prose flex flex-auto flex-col justify-center p-6 prose-h1:dark:text-white prose-h5:dark:text-neutral-400">
    <h1 class="mb-3 flex-initial">Ooops! We cannot find the page you want</h1>
    <h5 class="mb-4 flex-initial">
      The page you are looking for doesn't exist.
    </h5>
    <button
      class="btn btn-secondary mt-12 flex-initial justify-self-end"
      routerLink="/">
      Home
    </button>
  </section>
  <img
    class="aspect-[4/3] w-1/2"
    src="../../assets/svgs/error-404.svg"
    alt="404 not found error image" />
</div>
