<label class="input-label" [attr.for]="inputId">
  {{ inputLabel }}
</label>
<div
  class="flex cursor-pointer flex-row items-center overflow-hidden rounded-lg border-0 ring-1 ring-gray-300 dark:bg-gray-700 dark:text-white dark:ring-gray-500 dark:focus-within:ring-2 dark:focus-within:ring-teal-500">
  <button
    class="flex-initial border-r border-r-gray-300 bg-gray-50 px-4 py-2 text-xs transition-[background-color] duration-300 ease-linear hover:bg-gray-200 dark:border-r-gray-500 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-800"
    type="button"
    (click)="selectFolder()"
    [tabindex]="inputTabIndex">
    Choose File
  </button>
  <input
    class="flex-auto bg-gray-50 p-2 text-xs outline-none focus-visible:outline-none dark:bg-gray-700 dark:text-white dark:focus-visible:outline-none"
    readonly
    [id]="inputId"
    [ngModel]="_value"
    type="text"
    tabindex="-1" />
</div>
