@font-face {
  font-family: 'MoiraiOne';
  src: url(./MoiraiOne-Regular.woff) format('woff');
  src: url(./MoiraiOne-Regular.ttf) format('truetype'),
    url(./MoiraiOne-Regular.woff) format('woff');
}
