.custom-theme-1.video-js {
  width: 100%;
  height: 100%;
  *,
  .vjs-icon-play,
  .vjs-play-control .vjs-icon-placeholder,
  .vjs-big-play-button .vjs-icon-placeholder:before,
  .vjs-icon-picture-in-picture-exit,
  .vjs-icon-picture-in-picture-enter,
  .vjs-picture-in-picture-control .vjs-icon-placeholder,
  .vjs-fullscreen-control .vjs-icon-placeholder {
    text-shadow: none;
    // font-family: 'VideoJS' !important;
    font-family: 'web-icons' !important;
  }
  .vjs-big-play-button {
    border: none;
    font-size: 5em;
  }
  .vjs-button > .vjs-icon-placeholder:before {
    font-size: 1.9em;
    line-height: 1.7;
  }
  .vjs-fullscreen-control .vjs-icon-placeholder::before {
    font-size: 1.5em;
    line-height: 2;
  }
  .vjs-fullscreen-control[title='Exit Fullscreen']
    .vjs-icon-placeholder:before {
    content: '\f11E' !important;
  }
  .vjs-fullscreen-control[title='Fullscreen'] .vjs-icon-placeholder:before {
    content: '\f11d' !important;
  }
  .vjs-icon-play:before,
  .vjs-play-control .vjs-icon-placeholder:before,
  .vjs-big-play-button .vjs-icon-placeholder:before {
    content: '\f15c' !important;
  }
  .vjs-icon-pause:before,
  .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: '\f15B' !important;
  }
  .vjs-icon-circle:before,
  .vjs-seek-to-live-control .vjs-icon-placeholder:before,
  .vjs-volume-level:before,
  .vjs-play-progress:before {
    content: '\f1aa' !important;
  }
  .vjs-icon-volume-high:before,
  .vjs-mute-control .vjs-icon-placeholder:before {
    content: '\f159' !important;
  }
  .vjs-icon-volume-mid:before,
  .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
    content: '\f158' !important;
  }
  .vjs-icon-volume-low:before,
  .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
    content: '\f158' !important;
  }
  .vjs-icon-volume-mute:before,
  .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
    content: '\f15a' !important;
  }
  &:hover .vjs-big-play-button,
  .vjs-big-play-button:focus,
  .vjs-big-play-button {
    background-color: transparent;
  }
  .vjs-control {
    font-size: 11px;
  }
  .vjs-control:not(.vjs-progress-control):not(.vjs-mute-control):not(
      .vjs-volume-control
    ):not(.vjs-time-control) {
    top: -7px;
  }
  .vjs-time-control {
    display: block;
    position: relative;
    top: -8px;
    font-size: 11px;
  }
  .vjs-control-bar {
    @apply mb-[-9px];
    @apply items-center;
    background: rgba(0, 0, 0, 0.71);
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 70%),
      0 0 10rem 150px rgba(0, 0, 0, 68%),
      0 -14rem 10rem 150px rgba(0, 0, 0, 61%);
  }
  .vjs-progress-control {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    padding: 0;
    .vjs-progress-holder {
      background: rgba(68, 68, 68, 0.5);
      margin: 0 -1px;
    }
    .vjs-slider,
    .vjs-load-progress {
      background: rgba(68, 68, 68, 0.5);
    }
  }
  .vjs-time-control *,
  .vjs-time-tooltip,
  .vjs-volume-tooltip {
    font-family: monospace !important;
  }
  .vjs-time-divider {
    font-size: 16px;
    text-align: center;
    line-height: 0;
    min-width: 0;
    width: 2px;
    padding: 0px;
    top: -7px;
    left: -3px;
  }
  .vjs-picture-in-picture-control,
  .vjs-load-progress div,
  .vjs-remaining-time {
    display: none;
  }
  .vjs-fullscreen-control {
    margin-left: auto;
  }
}
