<div
  class="grid h-full w-full grid-cols-1 grid-rows-[min-content,_repeat(6,_minmax(0,_1fr))] gap-4">
  <header appWidgetContainer>
    <section class="flex flex-row gap-10 px-6">
      <input
        class="flex-auto !text-base"
        name="animesFolderPath"
        type="text"
        [formControl]="animesFolder"
        ngModel
        (ngModelChange)="updateAnimesList()"
        readonly
        appInput />
      <button
        class="w-1/5 flex-initial !text-center"
        type="button"
        (click)="selectAnimeFolder()"
        appButton>
        Select Anime Folder
      </button>
    </section>
  </header>

  <div class="row-span-6" appWidgetContainer>
    <section appScrollable>
      @if(loading()) {
      <section class="relative top-1/2 m-auto -translate-y-1/2 text-center">
        <ng-icon
          class="animate-bounce"
          size="3rem"
          color="#3b82f6"
          name="matfVideoColored"></ng-icon>
        <h3>Loading<span class="tracking-wide">...</span></h3>
      </section>
      } @else {
      <article class="-m-4 flex flex-1 flex-wrap gap-y-9">
        @for ( anime of animes ;track anime) {
        <app-anime-card
          [anime]="anime"
          class="md:1/2 w-full p-4 sm:w-1/2 lg:w-1/3 xl:w-1/4"></app-anime-card>
        } @empty { @if(animesFolder.value === '') {
        <h3 class="w-full p-4 font-semibold text-neutral-950 dark:text-white">
          Please Select Anime Folder to View Animes
        </h3>
        } @else {
        <h3 class="w-full p-4 font-semibold text-neutral-950 dark:text-white">
          No Anime was Found
        </h3>
        } }
      </article>
      }
    </section>
  </div>
</div>
