<header height="auto" appWidgetContainer>
  <section class="flex flex-row gap-5 px-6">
    <button
      class="flex-initial"
      type="button"
      (click)="getAnimeData()"
      appButton
      matTooltip="Select Anime Folder">
      <ng-icon name="matFolder"></ng-icon>
    </button>

    <input
      type="text"
      [disabled]="!!error() || !animesFolderPath"
      [(ngModel)]="searchText"
      placeholder="Search"
      appInput />
  </section>
</header>

<app-anime-card-grid
  class="[&:not(:has(>_article_>_header.hidden))]:!pt-16"
  height="auto"
  appWidgetContainer
  appScrollable
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="updateDisplayedAnimes()">
  <header
    class="absolute top-0 right-0 z-10 min-h-[1em] w-full rounded-t-md bg-teal-500 p-2 text-xs font-bold text-white leading-normal"
    [class.hidden]="animesFolderPath().length === 0">
    {{ animesFolderPath() }}
  </header>
  @if (displayedAnimes().length !== 0) {
    @for (
      anime of displayedAnimes() | filterBy: ['name'] : searchText;
      track anime.name
    ) {
      <app-anime-card [anime]="anime" [navigatable]="false"></app-anime-card>
    }
  } @else if (animesFolderPath() === '') {
    <h3 [class]="placeholderClasses">
      Please Select Anime Folder to View Animes
    </h3>
  } @else if (error()) {
    {{ error() | titlecase }}
  } @else {
    <h3 [class]="placeholderClasses">No Anime was Found</h3>
  }
</app-anime-card-grid>
