<div
  class="flex h-fit w-fit cursor-pointer items-stretch divide-x-2 divide-transparent rounded-full bg-transparent text-xs font-bold text-neutral-950">
  <!-- Decrease button -->
  <button
    type="button"
    [class]="buttonStyles + ' rounded-tl-full rounded-bl-full'"
    [ngClass]="{
      'cursor-default': isDisabled,
      'focus:bg-blue-400': !isDisabled,
      'hover:bg-blue-400': !isDisabled,
      'bg-blue-500': !isDisabled,
      'bg-neutral-400': isDisabled,
      'text-white': !isDisabled,
      'text-neutral-300': isDisabled,
      'dark:bg-neutral-700': isDisabled
    }"
    [tabindex]="isDisabled ? -1 : !!tabindex ? +tabindex : 0"
    (click)="
      updateValue(input.value, input, _increament * -1);
      animateButton(decreamentButton)
    "
    #decreamentButton>
    <ng-icon
      class="inline-grid !h-[1em] !w-full"
      size="100%"
      name="heroMinus"></ng-icon>
  </button>

  <input
    type="number"
    [class]="
      commonStyles + ' ' + 'w-16 flex-none text-ellipsis whitespace-nowrap'
    "
    [ngClass]="{
      'cursor-default': _notManuallyEditable,
      'hover:bg-neutral-300': !isDisabled,
      'dark:hover:bg-neutral-600': !isDisabled,
      'text-neutral-400': isDisabled,
      'bg-neutral-200': !isDisabled,
      'bg-gray-200': isDisabled,
      'dark:bg-neutral-600': isDisabled,
      'dark:text-neutral-50': !isDisabled,
      'dark:bg-neutral-700': !isDisabled
    }"
    [value]="value"
    (keydown)="
      clearUpdateValueTimeout(); setUpdateValueTimeout($event, input, 1500)
    "
    (keydown.arrowUp)="updateValue(input.value, input, _increament, $event)"
    (keydown.arrowDown)="
      updateValue(input.value, input, _increament * -1, $event)
    "
    (change)="updateValue(input.value, input)"
    (focuschange)="updateValue(input.value, input)"
    [min]="+min"
    [max]="+max"
    [tabindex]="
      _notManuallyEditable || isDisabled ? -1 : !!tabindex ? +tabindex : 0
    "
    [readonly]="_notManuallyEditable"
    #input />

  <!-- Increase button -->
  <button
    type="button"
    [class]="buttonStyles + ' rounded-tr-full rounded-br-full'"
    [ngClass]="{
      'cursor-default': isDisabled,
      'focus:bg-blue-400': !isDisabled,
      'hover:bg-blue-400': !isDisabled,
      'bg-blue-500': !isDisabled,
      'bg-neutral-400': isDisabled,
      'text-white': !isDisabled,
      'text-neutral-300': isDisabled,
      'dark:bg-neutral-700': isDisabled
    }"
    [tabindex]="isDisabled ? -1 : !!tabindex ? +tabindex : 0"
    (click)="
      updateValue(input.value, input, _increament);
      animateButton(increamentButton)
    "
    #increamentButton>
    <ng-icon
      class="inline-grid !h-[1em] !w-full"
      size="100%"
      name="heroPlus"></ng-icon>
  </button>
</div>
