<div
  class="cursor-pointer select-none overflow-hidden rounded-md text-white shadow-lg"
  [routerLink]="['/library', 'details', anime.id]">
  <img
    class="h-[350px] w-auto object-cover shadow-inner"
    draggable="false"
    [src]="anime.thumbnail" />
  <section class="relative h-fit flex-initial bg-teal-800 p-3 shadow-md">
    <div
      class="absolute -top-6 right-4 z-10 rounded-sm bg-teal-600 px-3 py-2 text-center text-xs font-bold shadow-lg">
      {{ anime.type | titlecase }}
    </div>
    <h5
      class="line-clamp-1 overflow-hidden text-ellipsis text-start text-sm font-semibold leading-7">
      {{ anime.name | titlecase }}
    </h5>
  </section>
</div>
