<label [for]="inputId" class="input-label">
  {{ inputLabel }}
  <span *ngIf="_required" class="required">required</span>
</label>
<div
  class="overflow-hidden rounded-lg border-0 ring-1 ring-gray-300 focus-within:ring-2 focus-within:ring-teal-500 dark:bg-gray-700 dark:text-white dark:ring-gray-500 dark:focus-within:ring-2 dark:focus-within:ring-teal-500"
  (keyup.arrowright)="increaseCounter()"
  (keyup.arrowleft)="decreaseCounter()"
  (keyup.arrowup)="
    $event.preventDefault(); $event.stopPropagation(); increaseCounter()
  "
  (keyup.arrowdown)="
    $event.preventDefault(); $event.stopPropagation(); decreaseCounter()
  "
  [tabindex]="inputTabIndex">
  <button
    class="inline border-r border-r-gray-300 bg-gray-50 px-4 py-2 text-xs transition-[background-color] duration-300 ease-linear hover:bg-gray-200 dark:border-r-gray-500 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-800"
    type="button"
    (click)="decreaseCounter()"
    tabindex="-1">
    -
  </button>
  <input
    class="inline bg-gray-50 p-2 text-center text-xs outline-none focus-visible:outline-none dark:bg-gray-700 dark:text-white dark:focus-visible:outline-none"
    type="number"
    [id]="inputId"
    [min]="inputMin"
    [max]="inputMax"
    [ngModel]="_value"
    [required]="_required"
    (ngModelChange)="changeValueTo($event, innerInputModel.valid, innerInput)"
    [ngModelOptions]="{ standalone: true, updateOn: 'blur' }"
    tabindex="-1"
    #innerInputModel="ngModel"
    #innerInput />
  <button
    class="inline border-l border-l-gray-300 bg-gray-50 px-4 py-2 text-xs transition-[background-color] duration-300 ease-linear hover:bg-gray-200 dark:border-l-gray-500 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-800"
    type="button"
    (click)="increaseCounter()"
    tabindex="-1">
    +
  </button>
</div>
