<!-- <article class="main-section max-w-full prose p-12">
<h1 class="flex-auto">Welcome, This is your AnimeGallery App</h1>
</article> -->
<div appWidgetContainer height="full">
  <article class="flex flex-col gap-12" appScrollable>
    <header
      class="grid max-w-screen-xl grid-cols-1 gap-8 py-5 pb-12 md:grid-cols-2 lg:gap-16">
      <div class="flex flex-col">
        <h1
          class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          We Are Here To Orgainze Your Animes
        </h1>
        <p
          class="mb-8 text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-xl">
          Here at Anime Gallery we focus on making watching filtering and
          organizing anime a lot more easier.
        </p>
        <div
          class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
          <button
            appButton
            type="button"
            class="inline-flex items-center justify-center"
            routerLink="/library">
            {{ (animes | async)?.length > 0 ? 'Watch' : 'Get Started' }}
            <svg
              aria-hidden="true"
              class="-mr-1 ml-2 h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="hidden md:flex">
        <img
          class="h-[350px] overflow-hidden rounded-md shadow"
          src="assets/pictures/anime-1.webp"
          alt="" />
      </div>
    </header>
    @if ((animes | async)?.length !== 0) {
      <article class="grid w-full grid-cols-5 place-items-center gap-6">
        @for (anime of (animes | async)?.d; track anime) {
          <app-anime-card [anime]="anime" [navigatable]="true"></app-anime-card>
        }
      </article>
    }
  </article>
</div>
