<input
  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 text-gray-900 focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500 sm:text-xs"
  type="text"
  [attr.placeholder]="placeholder"
  [(ngModel)]="_searchKeyword"
  (ngModelChange)="filter()"
  cdkOverlayOrigin
  #origin
  (click)="this.open()"
  (focus)="this.open()"
  />
  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    (backdropClick)="this.close()"
    [cdkConnectedOverlayOpen]="_isOpen"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayMinWidth]="_originRect?.width!"
    #selectOptions
    >
    <div
      class="flex w-full animate-fade-down flex-col divide-y divide-white/10 overflow-hidden rounded-md border-gray-300 bg-gray-50 text-gray-900 shadow-md animate-delay-0 animate-duration-[300ms] focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500 sm:text-xs"
      >
      @for (_optionValue of _searchResult; track _optionValue) {
        <app-option
          [multi]="_multi"
          (click)="onItemClick(_optionValue)"
          [value]="_optionValue"
          [checked]="_value.includes(_optionValue)"
          >
          {{ _optionValue }}
        </app-option>
      }
    </div>
  </ng-template>
