@font-face {
  font-family: 'web-icons';
  src: url(./0d2cfc1287d4e0bf0492935a9ccef5fd.woff) format('woff');
  src: url(./0d2cfc1287d4e0bf0492935a9ccef5fd.ttf) format('truetype'),
    url(./0d2cfc1287d4e0bf0492935a9ccef5fd.woff) format('woff');
}
