@font-face {
  font-family: 'MoiraiOne';
  src: url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.woff) format('woff');
  src: url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.ttf) format('truetype'),
    url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.woff) format('woff');
}

@font-face {
  font-family: 'web-icons';
  src: url(./assets/fonts/web-fonts/0d2cfc1287d4e0bf0492935a9ccef5fd.woff) format('woff');
  src: url(./assets/fonts/web-fonts/0d2cfc1287d4e0bf0492935a9ccef5fd.ttf) format('truetype'),
    url(./assets/fonts/web-fonts/0d2cfc1287d4e0bf0492935a9ccef5fd.woff) format('woff');
}
