@font-face {
  font-family: 'MoiraiOne';
  src: url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.woff) format('woff');
  src: url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.ttf) format('truetype'),
    url(./assets/fonts/MoiraiOne/MoiraiOne-Regular.woff) format('woff');
}
