@import url('@angular/cdk/overlay-prebuilt.css');
@import url('@angular/material/prebuilt-themes/purple-green.css');
@import url('videojs-playlist-ui/dist/videojs-playlist-ui.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Style for Custom Electron titlebar to hide title
.cet-title {
  @apply hidden;
}

@layer base {
  * {
    @apply font-sans;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  *:focus-visible {
    outline: none;
  }

  ::-webkit-scrollbar {
    @apply w-2 transition duration-700 ease-in-out;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-700/40 transition duration-700 ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700/70;
  }

  a {
    @apply cursor-pointer;
  }

  a,
  button,
  a:active,
  button:active,
  a:visited,
  button:visited,
  a:focus,
  button:focus {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  // Videojs Styles
  @import 'assets/scss/videojs-theme-1.scss';
  @import url('video.js/dist/video-js.css');
  @import url('@videojs/themes/dist/forest/index.css');
  @import url('@videojs/themes/dist/city/index.css');
  @import url('@videojs/themes/dist/fantasy/index.css');
  @import url('@videojs/themes/dist/sea/index.css');

  .vjs-theme-fantasy,
  .vjs-theme-city,
  .vjs-theme-forest,
  .vjs-theme-sea {
    .vjs-slider:focus {
      text-shadow: none;
      box-shadow: none;
    }

    .vjs-slider:focus .vjs-volume-level::before {
      text-shadow: 0em 0em 1em white;
      box-shadow: 0em 0em 1em white;
    }
  }

  // VideoJs Themes Fixes
  .vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder:before {
    height: 1.3em;
    width: 1.3em;
    margin-top: 0;
    border-radius: 1em;
    border: 3px solid var(--vjs-theme-fantasy--secondary);
    top: 50%;
    left: 50%;
    line-height: 1.1;
    font-size: 1.4em;
    transform: translate(-50%, -50%);
  }
  .vjs-theme-fantasy .vjs-volume-bar {
    margin-top: 1.6rem;
  }
}

@layer components {
  .btn {
    @apply flex select-none items-center self-start rounded-lg px-5 py-3 text-center text-sm font-medium text-white transition-all duration-300;
  }

  .btn[disabled] {
    @apply cursor-default;
  }

  .btn-primary {
    @apply bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300;
  }

  .btn-primary[disabled] {
    @apply bg-neutral-500 hover:bg-neutral-500 focus:ring-0;
  }

  .btn-outline-primary {
    @apply border border-purple-600 text-purple-600 hover:border-purple-800 hover:text-purple-800 focus:ring-4 focus:ring-purple-300;
  }

  .btn-secondary {
    @apply bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300;
  }

  .btn-secondary[disabled] {
    @apply bg-neutral-500 hover:bg-neutral-500 focus:ring-0;
  }

  .btn-outline-secondary {
    @apply border border-teal-600 text-teal-600 hover:border-teal-800 hover:text-teal-800 focus:ring-4 focus:ring-teal-300;
  }

  .btn-danger {
    @apply bg-red-600 text-sm hover:bg-red-800 focus:ring-4 focus:ring-red-300;
  }

  .btn-outline-danger {
    @apply border border-red-600 text-red-600 hover:border-red-800 hover:text-red-800 focus:ring-4 focus:ring-red-300;
  }

  .input-label {
    @apply mb-2 block text-sm font-medium text-gray-900 dark:text-white;
    & .required {
      @apply ml-2 text-xs font-normal italic text-red-500 dark:text-red-300;
    }
  }

  .input[type='text'],
  .input[type='number'] {
    @apply w-full rounded-lg border-0 bg-gray-50 p-2 text-xs text-gray-900 ring-1 ring-gray-300 focus-within:ring-2  focus-within:ring-teal-500  focus:ring-2  focus:ring-teal-500 focus-visible:outline-none dark:bg-gray-700 dark:text-white  dark:placeholder-gray-400 dark:ring-gray-500 dark:focus:ring-teal-500 dark:focus-visible:outline-none;
    &.ng-invalid.ng-touched {
      @apply ring-2 ring-red-500;
    }
  }

  .input[type='radio'] {
    @apply h-4 w-4 appearance-none before:flex before:h-full before:w-full before:overflow-hidden before:rounded-full before:border-2 before:border-teal-600 before:bg-transparent before:content-[''] focus-visible:appearance-none focus-visible:outline-none;
    &:checked {
      @apply before:from-teal-600 before:from-50%  before:to-50% before:[background-image:_radial-gradient(circle,_var(--tw-gradient-stops))];
    }
    &:focus {
      @apply before:from-teal-600 before:from-50%  before:to-50% before:outline before:outline-[3px] before:outline-teal-300/25 before:[background-image:_radial-gradient(circle,_var(--tw-gradient-stops))];
    }
  }

  .textarea {
    @apply h-full w-full resize-none rounded-lg border-0 bg-gray-50 p-2 text-xs text-gray-900 ring-1 ring-gray-300 focus:ring-2 focus:ring-teal-500 focus-visible:outline-none dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:ring-gray-500 dark:focus:ring-2 dark:focus:ring-teal-500 dark:focus-visible:outline-none;
  }
}

// Material Styles
.matTooltipClass {
  @apply overflow-hidden rounded-md bg-neutral-700 px-4 py-2 text-xs font-medium tracking-wide shadow-lg #{!important};
}

.matSnackbarClass {
  @apply mb-20 mr-16 overflow-hidden rounded-md bg-neutral-700 px-8 text-xs font-medium tracking-wide text-white drop-shadow-lg #{!important};
}
